.hero-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 5%;
  color: #fff;
  text-align: center;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 1;
}

.hero-container.slide-left {
  transform: translateX(-200px);
  opacity: 0.8;
}

.hero-container.slide-right {
  transform: translateX(200px);
  opacity: 0.8;
}

.hero-main {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.logo-text {
  font-size: 58px;
  font-weight: bold;
  color: #fab005;
}

.hero-main h2 {
  font-size: 42px;
}

.hero-main p {
  font-size: 20px;
  line-height: 1.6;
  opacity: 0.95;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.hero-btn {
  padding: 15px 30px;
  background-color: #fab005;
  color: #000;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.hero-btn.secondary {
  background-color: #1a1a1a;
  color: #fab005;
}
